{% extends "base.html" %}

{% block content %}
<h1>Messages</h1>
<form hx-get="/partials/messages-table" hx-target="#messages-table" hx-push-url="true" class="filters">
  <input type="text" name="author" placeholder="Author" value="{{ request.query_params.get('author', '') }}" />
  <input type="text" name="q" placeholder="Search" value="{{ request.query_params.get('q', '') }}" />
  <button type="submit">Apply</button>
</form>
<div id="messages-table" hx-get="/partials/messages-table" hx-push-url="true">
  {% include '_messages_table.html' %}
</div>
{% endblock %}
